<!DOCTYPE html>
{% load static %}
{% load bootstrap %}

<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="{% static 'css/Style.css' %}">

    <link rel="stylesheet" href="{% static 'css/Style2.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/jquerylast.min.js' %}" type="text/javascript" language="javascript"></script>
    <!-- code Removed -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <!-- jquery -->
 <script>

    $("#id_flightNum").change(function(){
    alert("The text has been changed.");
     });

      </script>
      <!-- jquery -->
    <!-- Latest compiled and minified CSS -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">-->

    <!-- jQuery library -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->

    <!-- Popper JS -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script> -->

    <!-- Latest compiled JavaScript -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> -->
    <!-- commented -->
    <meta charset="utf-8">
    <title>AWZ_-_Developer's</title>
  </head>
  <body>
<!-- header -->
    <div class="header-up">
      <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="#">||AWZ_Developer's||</a>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{% url 'app1:initialinfo' %}" id="navbardrop" data-toggle="dropdown">
              Initial information
            </a>
            <div class="dropdown-menu">
              <a href="{% url 'app1:initialinfo' %}">Company & Type</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'app1:flightinfo' %}">flight information</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'app1:flightlist' %}">flight List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'app1:uploadexcel' %}">Upload File</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'app1:printStrip' %}">Print Strip</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Setting</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'app1:login' 'default' %}">Quit</a>
          </li>
        </ul>
      </nav>
    </div>
    <!-- end header -->
    <!--<h2>{{ message }}</h2>-->
    <div class="wrapper">
      <div id="formContent">
        <!-- <form method="POST">
{% csrf_token %}
        {% for field in frm %}
                <div class="form-group" aria-required={% if field.field.required %}"true"{% else %}"false"{% endif %}>
                    {{ field.label_tag }}{% if field.field.required %}<span class="required">*</span>{% endif %}

                    {{ field }}
                    {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
                {% endfor %}
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>

		<input type="submit" class="btn btn-primary mb-2" value="Submit" name="sbt1" />
  </form> -->
<h3>Enter the RPLs or single flight information</h3>
<br>
<br>
  <h5>{{ msg }}</h5>

    <!-- using library called bootstrap -->
        <form method="POST">

        {% csrf_token %}
        {{ frm|bootstrap }}

        <button type="submit" class="btn btn-primary" name="sbt">Submit</button>

      </form>
    </div>

    </div>






    <!-- end of main page -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script>



    $("#id_flightNum,#id_company,#id_DateFrom").change(function(){
      // var comp=$(this).children("option:selected").text();
      var company=$("#id_company").val();
      var flightNum=$("#id_flightNum").val();
      var dateFrom=$("#id_dateFrom").val();


      alert(flightNum+"شرکت انتخاب شده ");

      $.ajax({
        url: '{% url "app1:checkCallSigh" %}',
        data:{'flightNum':flightNum,'company':company,'flightNum':flightNum},
        dataType:'json',
        success:function(dat){
          if(dat.isExist){
            alert("این شرکت قبلا ثبت شده است ");
          }else {
            alert("این شرکت مجاز است");
          }
        }

      });
    });
    function Company() {
      var x = document.getElementById("myDIV");
      var y = document.getElementById("myDIV2");
      if (y.style.display === "block") {
        y.style.display = "none";
      }
      else {
          if (x.style.display === "none") {
            x.style.display = "block";
          } else {
            x.style.display = "none";
          }
        }
      }

    function Cotype() {
      var x = document.getElementById("myDIV2");
      var y = document.getElementById("myDIV");
      if (y.style.display === "block") {
        y.style.display = "none";
      }
      else {
          if (x.style.display === "none") {
            x.style.display = "block";
          } else {
            x.style.display = "none";
          }
        }
      }
    </script>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script>
$(document).ready(function() {
    $('.datepicker').datepicker();
});
</script>
<script>
$(document).ready(function() {
    $('.timepicker').timepicker();
});
</script>
  </body>
</html>
