<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/Style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/jquerylast.min.js' %}" type="text/javascript" language="javascript"></script>
    <!-- code Removed -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <link rel="stylesheet" href="{% static 'css/Style2.css' %}">

    <!--<link rel="stylesheet" href="E:\B\Github\Flight-stript\app1\static\css\bootstrap.min.css">
    <script src="E:\B\Github\Flight-stript\app1\static\js\jquerylast.min.js" type="text/javascript" language="javascript"></script>-->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- modal form -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- modal form -->
    <meta charset="utf-8">
    <title>AWZ_-_Developer's</title>

  </head>
  <body>
    <div class="header-up">
      <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="#">||AWZ_Developer's||</a>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'app1:default_login' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"></a>
          </li>
          <!-- Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{% url 'app1:initialinfo' %}" id="navbardrop" data-toggle="dropdown">
              Initial information
            </a>
            <div class="dropdown-menu">
              <a >Company & Type</a>
            </div>
          </li>
          <!--end dropdown -->
          <li class="nav-item">
            <a class="nav-link" href="{% url 'app1:flightinfo' %}">flight information</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'app1:flightlist' %}">flight List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'app1:uploadexcel' %}">Upload File</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'app1:printStrip' %}">Print Strip</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Setting</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'app1:login' 'default' %}">Quit</a>
          </li>
        </ul>
      </nav>
    </div>

{% block contents%}
<!--search -->

    <div class="topsearch">
      <div class="container">
        <form class="form-inline" method="get">
          <input id="company" type="text" class="form-control" name="company" placeholder="Call Sign">

          <div class="form-group">
            <label for="datefrom">DateFrom:</label>
            <input type="datetime" name="datefrom" id="datepicker" class="form-control">
          </div>
          <div class="form-group">
            <label for="dateto">Dateto:</label>
            <input type="datetime" name="dateto" id="datepicker1" class="form-control" >
          </div>
          <select class="form-control" id="sel1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
          <div class="checkbox">
            <label><input type="checkbox">check</label>
          </div>
          <button type="submit" class="btn btn-info" name="srchBtn">search</button>
        </form>

      </div>
    </div>

    <!-- end of search box -->
    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

        </div>
      </div>
    </div>
        <!-- list start here -->
      <div class="container">
        <div>
          <form  method="POST">
           {% csrf_token %}
          <table id="tblFlightlist" class="table table-hover">
            <th>CallSign</th>
            <th>Type</th>
            <th>Departure</th>
            <th>Destination</th>
            <th>EOBT</th>
            <th>Date</th>
            <th>Route</th>
            <th>Register</th>
              {% for f in flights %}
            <tr class="flight-list-hover">
              <td>{{ f.company }} {{ f.flightNum }}</td>
              <td>{{ f.type }}</td>
              <td>{{ f.DepAirport }}</td>
              <td>{{ f.DesAirport }}</td>
              <td>{{ f.EOBT }}</td>
              <td>{{ f.dateFrom }}</td>
              <td>{{ f.route }}</td>
              <td>{{ f.Register }}</td>


              <td><button class="btn btn-xs btn-danger" type="button" data-toggle="modal" data-target="#confirmDelete" data-title="Delete User" data-message="Are you sure you want to delete this user ?"><img src="{% static 'image/delete.png' %}" alt=""></button></td>
              <td><a href="{% url 'app1:flightUpdate' f.id %}"><img src="{% static 'image/edit.png' %}" alt=""></a></td>
              <td><a href="{% url 'app1:printStrip'%}"><img src="{% static 'image/print.png' %}" alt=""></a></td>
              <td><a href="#" class="msge"><img  src="{% static 'image/message.png' %}" alt=""></a></td>
              <td> <input type="checkbox" name="checked" value="{{f.id}}">انتخاب </td>


              <div class="modal fade" id="confirmDelete" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
              <div class="modal-dialog">
              <div class="modal-content">
               <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                 <h4 class="modal-title"> حذف رکورد</h4>
               </div>
               <div class="modal-body">
                 <p> مطمئن هستید؟</p>
               </div>
               <div class="modal-footer">
                 <button type="button" class="btn btn-default" data-dismiss="modal">لغو</button>
                 <button type="submit" type="button" class="btn btn-danger" name="deleteBtn" value="{{f.id}}" id="confirm">پاک کردن</button>
               </div>
              </div>
              </div>
              </div>

            </tr>

            {% endfor %}

          </table>
          <input class="btn btn-success" type="submit" name="btn3" value="Send For Strip">
        </form>
      </div>
    </div>
    {% endblock %}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
    setInterval(function(){
      $("#tblFlightlist").empty();

      $.ajax({
        type:"GET",
        url:"{% url 'app1:autoUpdateflightlist'%}"
            }).done(function(data){
        var myv=JSON.parse(data);
        for(i=0;i<myv.length;i++){
        var img1="<img src=../image/print.png>";
        $("#tblFlightlist").append("<tr><td>"+myv[i]["fields"]["company"]+"</td><td>"+myv[i]["fields"]["flightNum"]+"</td><td>"+img1+"</td></tr>").css("cursor","hand");

            // alert(myv[1]["fields"]["company"]);
          }
       });
     },5000);
    // $(document).ready(function(){
    //   alert("hiiii");
    //   $("#tblFlightlist").append("<tr><td>hi</td><td>hello</td><td>khobi</td><td>hi</td><td>hello</td><td>khobi</td></tr>").css("cursor","hand")
    //   .on('click',function(){alert("cliii");});
    //   $.ajax({});
    // });
    // sending print instrunction
    setInterval(function(){
     $.ajax({
       type:"GET",
       url:"{% url 'app1:printing'%}",
       success:function(data){
         // alert(data.status+" : "+data.flt);
       }
     });
    },5000);
     $( function() {
       $( "#datepicker" ).datepicker({dateFormat: 'yy-mm-dd'});
       $( "#datepicker1" ).datepicker({dateFormat: 'yy-mm-dd'});

     });
     </script>

     <!-- modal -->
     <script src="{% static 'js/bootstrap.min.js' %}"></script>
     <script src="{% static 'js/jquery.min.js' %}"></script>
     <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
   <!-- You can alternatively load the minified version -->
     <script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
     <script type="text/javascript">
       $(function () {

           $(".delete-flight").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
              });
           });
</script>
     <!-- modal -->

<script type="text/javascript">
serInterval(function(){
  $.ajax({
    method:"GET",
    url:"{% url 'app1:flightlist'%}",
    success:function(data){
      alert("goodddd");
    }

  });
},5000);
$(document).delegate(".msge","click",function(){
  console.log("messs");
});
  $('#confirmDelete').on('show.bs.modal', function (e) {
      $message = $(e.relatedTarget).attr('data-message');
      $(this).find('.modal-body p').text($message);
      $title = $(e.relatedTarget).attr('data-title');
      $(this).find('.modal-title').text($title);

      // Pass form reference to modal for submission on yes/ok
      var form = $(e.relatedTarget).closest('form');
      $(this).find('.modal-footer #confirm').data('form', form);
  });

  $('#confirmDelete').find('.modal-footer #confirm').on('click', function(){
      $(this).data('form').submit();
  });
</script>
  </body>
</html>
