<!DOCTYPE html>
{% load static %}
{% load bootstrap %}
<!--{% load static %}-->
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/jquerylast.min.js' %}" type="text/javascript" language="javascript"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/Style2.css' %}">
    <meta charset="utf-8">
    <title>AWZ_-_Developer's</title>
  </head>
  <body>
    <div class="header-up">
      <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="#">||AWZ_Developer's||</a>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"></a>
          </li>
          <!-- Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{% url 'app1:initialinfo' %}" id="navbardrop" data-toggle="dropdown">
              Initial information
            </a>
            <div class="dropdown-menu">
              <a href="{% url 'app1:initialinfo' %}">Company & Type</a>

            </div>
          </li>
          <!--end dropdown -->
          <li class="nav-item">
            <a class="nav-link" href="{% url 'app1:flightinfo' %}">flight information</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'app1:flightlist' %}">Flight List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'app1:uploadexcel' %}">Upload File</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Setting</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'app1:login' 'default' %}">Quit</a>
          </li>
        </ul>
      </nav>
    </div>


    <!--search -->

        <div class="topsearch">
          <div class="container">
            <form class="form-inline" action="">
              <div class="form-group">
                <label for="datefrom">dateFrom:</label>
                <input type="datetime" class="form-control">
              </div>
              <div class="form-group">
                <label for="dateto">dateto:</label>
                <input type="datetime" class="form-control" >
              </div>
              <select class="form-control" id="sel1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
              </select>
              <div class="checkbox">
                <label><input type="checkbox">check</label>
              </div>
                <input id="msg" type="text" class="form-control" name="msg" placeholder="search">
              <button type="submit" class="btn btn-info">search</button>
            </form>

          </div>
        </div>

        <!-- end of search box -->



    <!--<h2>{{ message }}</h2>-->

    <!--main page start here-->
<h3>{{ msg }}</h3>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <!-- company -->
      <div id="myDIV" class="popup-co">
        <div class="popup-data">
          <h3>نام شرکت هواپیمایی را وارد کنید</h3>
          <form method="POST">

            <div class="form-group">

              {% csrf_token %}
              {{ frmc | bootstrap }}

              <button class="btn btn-success" name='btncompany' type="submit">Send</button>
              <!-- <button onclick="Company()" class="btn btn-danger">Close</button> -->
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <!-- flight type -->
      <div id="myDIV2" class="popup-co">
        <div class="popup-data">

          <h3> نوع هواپیما را وارد نمایید </h3>
          <form method="POST">

          <div class="form-group">

            {% csrf_token %}
            {{ frmt|bootstrap }}

            <button class="btn btn-success" name='btntype' type="submit">Send</button>
            <!-- <button onclick="Company()" class="btn btn-danger">Close</button> -->
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid box-tot">
  <div class="row">
    <div class="col-md-6">
      <table class="table table-hover">
        <th>Company Name</th>
        {% for f in cy %}
        <tr class="flight-list-hover">
          <td>{{ f.company }}</td>
          <td><a href="#"><img src="{% static 'image/delete.png' %}" alt=""></a></td>
          <td><a href="{% url 'app1:flightUpdate' f.id %}"><img src="{% static 'image/edit.png' %}" alt=""></a></td>
          <td><input type="checkbox" name="ch1" value='{ f.id }'>{{ fi.d }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    <div class="col-md-6">
      <table class="table table-hover">
        <th>Type Name</th>
        {% for f in tp %}
        <tr class="flight-list-hover">
          <td>{{ f.type }}</td>
          <td><a href="#"><img src="{% static 'image/delete.png' %}" alt=""></a></td>
          <td><a href="{% url 'app1:flightUpdate' f.id %}"><img src="{% static 'image/edit.png' %}" alt=""></a></td>
          <td><input type="checkbox" name="ch1" value='{ f.id }'>{{ fi.d }}</td>
        </tr>
        {% endfor %}

      </table>
    </div>
  </div>
</div>

    <!-- end of main page -->
    <script>
    function Company() {
      var x = document.getElementById("myDIV");
      var y = document.getElementById("myDIV2");
      if (y.style.display === "block") {
        y.style.display = "none";
      }
      else {
          if (x.style.display === "none") {
            x.style.display = "block";
          } else {
            x.style.display = "none";
          }
        }
      }

    function Cotype() {
      var x = document.getElementById("myDIV2");
      var y = document.getElementById("myDIV");
      if (y.style.display === "block") {
        y.style.display = "none";
      }
      else {
          if (x.style.display === "none") {
            x.style.display = "block";
          } else {
            x.style.display = "none";
          }
        }
      }
    </script>
  </body>
</html>
