<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="{% static 'css/Style.css' %}">
    <meta charset="utf-8">
    <title>AWZ_-_Developer's</title>
  </head>
  <body>
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <!-- Tabs Titles -->
        <h2 class="inactive underlineHover"> Sign In </h2>
        <h2 class="inactive underlineHover">Sign Up </h2>
        <br>
        <h2>Flight Striping System</h2><br>
        <a class="underlineHover">Password Recovery</a>
        <!-- Icon -->
        <div class="fadeIn first img-size">
          <img src="{% 'image\Icon-Rec.png' %}"/>
        </div>
        <!-- Login Form -->
        <form method="POST">
          <input type="text" id="Email-user" class="fadeIn second" placeholder="Enter your Email"><br><br>
          <input type="submit" class="fadeIn fourth" name="Recovery" value="Send Recovery Mail">
        </form>
        <!-- Terms accept -->
        <div id="formFooter">
          <a class="underlineHover" href="#">If there is no email in the inbox, check spam's </a>
        </div>

      </div>
    </div>
  </body>
</html>
