<!DOCTYPE html>
{% load static %}
<!--{% load static %}-->
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="{% static 'css/mycss.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/jquerylast.min.js' %}" type="text/javascript" language="javascript"></script>
    <!-- jquery -->

        <!-- jquery -->
    <!-- code Removed -->
    <!-- <link rel="stylesheet" href="{% static 'css/print.css' %}" media="print"> -->
    <link rel="stylesheet" href="{% static 'css/Style2.css' %}">
    <link rel="stylesheet" href="{% static 'css/Style3.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/jquerylast.min.js' %}" type="text/javascript" language="javascript"></script>





    <!-- Latest compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->

    <!-- jQuery library -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->

    <!-- Popper JS -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script> -->

    <!-- Latest compiled JavaScript -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> -->
    <meta charset="utf-8">
    <title>AWZ_-_Developer's</title>
  </head>
  <body>
    <div class="header-up">
      <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="#">||AWZ_Developer's||</a>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"></a>
          </li>
          <!-- Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{% url 'app1:initialinfo' %}" id="navbardrop" data-toggle="dropdown">
              Initial information
            </a>
            <div class="dropdown-menu">
              <a href="{% url 'app1:initialinfo' %}">Company & Type</a>

            </div>
          </li>
          <!--end dropdown -->
          <li class="nav-item">
            <a class="nav-link" href="{% url 'app1:flightinfo' %}">flight information</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'app1:flightlist' %}">Flight List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Upload File</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'app1:printStrip' %}">Print Strip</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Setting</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'app1:login' 'default' %}">Quit</a>
          </li>
        </ul>
      </nav>
    </div>

    <!--main page start here-->

    <div class="container">
      <div class="jumbotron">
        <h1>سامانه چاپ  استریپ</h1>
        <p>قابلیت چاپ استریپ در مدت زمان مشخص توسط کاربر و ....</p>
      </div>
    </div>
    <form class="form" method="post">


    <!-- strips -->
    <table class="table table-hover">
      {% for f in flt %}
        <tr class="flight-list-hover" id="{{ i.id }}">
      <td></td>
      <td>
        <!-- <div class="strip" >
          <div class="des" onclick="javascript:clicked('{{ i.DesAirport }}')">
            {{ i.DesAirport }}
          </div>
          <div class="type">
          </div>

          <div class="callsing">
            {{i.company}} {{i.flightNum}}
          </div> -->
<!-- latest strip style is here -->

<!-- end of the latest style -->
              <!-- strip style is here -->


              <div class="strip-box" id="test1">
                <div class="space1">{{f.DesAirport}}
{{f.type}}
{% if f.squack %}
{{ f.squack }}
{% else%}
{{"----"}}
{% endif %}
                </div>
                <div class="vl1"></div>
                <div class="space2">{{f.company}}{{f.flightNum}}</div>
                <div class="vl2"></div>
                <div class="space3">{{f.EOBT|time:'h:i'}}
                  <div class="rota-space"></div>
                  <div class="rota"><p class="rota2">{{f.route}}</p></div>
                </div>
                <div class="vl3"></div>
                <div class="space4">{{f.level}}</div>
                <div class="vl4"></div>
                <!--table -->
                <div class="space5">

                  <div class="ho-vl">
                    <div class="calhol"></div>
                    <div class="calhol"></div>
                    <div class="calhol"></div>
                    <div class="calhol"></div>
                  </div>
                  <div class="ho-vl2">
                    <div class="calhol"></div>
                    <div class="calhol"></div>
                    <div class="calhol"></div>
                    <div class="calhol"></div>
                  </div>
                </div>
                <div class="vl5"></div>
                <div class="space6"></div>
              </div>



      </td>
      <td><a href="#"><img src="{% static 'image/delete.png' %}" alt=""></a></td>
      <td><a href="#"><img src="{% static 'image/edit.png' %}" alt=""></a></td>
      <td><a href="{% url 'app1:PrintPage' f.id %}"><img src="{% static 'image/print.png' %}" alt=""></a></td>
      <td><a href="#"><img src="{% static 'image/message.png' %}" alt=""></a></td>
      <td> <input type="checkbox" id="checked" name="" value="{{f.id}}">انتخاب </td>

      </tr>

      {% endfor %}

    </table>
<input type="button" class="btn btn-danger" value="print" name="btnPrint1">
</form>

<script type="text/javascript">

function printDIV(d){
    var mywindow=window.open('','mywin','height=400,width=600');

    mywindow.document.write('<html><head><title>'+document.title+'</title>');
    mywindow.document.write('</head><body><h2>salam</h2>');
    mywindow.document.write('<h1>'+document.getElementById(d)+'</h1>');
    mywindow.document.write('</body></html>');

    mywindow.document.close();
    mywindow.focus();
    mywindow.print();
    mywindow.close();
}

function clicked(ss){
  alert("clicked "+ss);
}
  function printstrip(s){
    var gen=window.open(",'name,");
    var layertext=document.getElementById(s);

    gen.document.write(layertext.innerHTML.replace("printing"));
    gen.document.close();

    gen.print();
    gen.close();

  }
</script>




    <!-- {% for f in flt%}
    <div class="card" style="width:500px">
    <img class="card-img-top" src="{% static 'image/strip.jpg' %}" alt="Card image">
    <div class="card-img-overlay">
      <h4 class="card-title"><a href="#" class="btn btn-primary">{{ f.company }}</a></h4><span></span>
    </div>

  </div>
  {% endfor %} -->
<!-- stripes -->

  </body>
</html>
